.rightside_container{
   
}

.rightside_header{
     margin-top: 20px;
     display: flex;
     margin-left: 90px;
     font-weight: 600;
     font-size: 18px;
}

.rightside_content{
    margin-left: 80px;
}